:root {
  --primary-color : red;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

button {
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 5px;
  max-height: 3rem;
  width: 8rem;
  font-size: large;
}

button:hover {
  cursor: pointer;
  opacity: .8;
  transition: 250ms;
}

.editor {
  width: 80%;
  margin: auto;
}

.editor-class {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px;
}

.toolbar-class{
  display: none !important;
}

.superFancyBlockquote {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}

.underline-style{
  text-decoration: underline;
}